__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
outputs/
*.pt
.env
data/
.pytest_cache/
output/
node_modules/
.next/
.env.local
.venv/
.venv-1/
# Google Auth
credentials.json
token.pickle
client_secret_*.json
